
.img {
    width: 300px;
    height: auto;
    max-width: 100%;
}

.centered-table {
    margin: 100px auto;
    max-width: 1500px;
    width: auto;
    border: 1px 0px solid grey;
    text-align: center;   
}

#components-table td {
    padding: 10px 100px;
    vertical-align: middle;
    border: 1px 0px solid grey;
}

.custom-form-width {
    max-width: 600px;
}

.title-text {
    font-size: 100px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    color: rgb(32, 48, 142);
}

@media (max-width: 770px) {
    .title-text {
        font-size: 50px;    
    }
}

.title-image {
    border-radius: 20px;
}

.ItemCard:hover {
    background-color: #f8f9fa; 
}

.item-size {
    max-width: 1080px;
}

.item-size-detail {
    max-width: 720px;
}

.remove-link-decoration {
    text-decoration: none;
    color: black;
}

.nav-margin {
    margin-bottom: 100px;
}


